*{
    padding: 0;
    margin: 0;
    font-family:"Roboto", sans-serif;
}
.container1{
    width: 980px;
    margin: 0 auto;
}
header{
    width: 980px;
    height: 100px;
    background-color: orange;
}
header img{
    margin-left: 30px;/*đẩy khối sang*/
    width: 100px;
    height: 100px;
    
}
nav{
    height: 35px;
    background-color: brown;
}
nav .menu ul{
    list-style: none;/*xoá chấm tròn*/
}
nav .menu ul li{
    float:left;
    line-height: 35px;/*căn chữ ra giữa*/
    padding: 0 15px;
}
nav .menu ul li a{
    color: white;
    font-size: 14px;
    text-decoration: none;/*bỏ gạch chân*/
}
nav .search {
    line-height: 35px;
    float: right;
    margin-right: 25px;
}
.container2 {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }
  
  #contact {
    background:white;
    padding:25px;
    margin:50px 0;
  }
  
  #contact h3 {
    color: brown;
    display: block;
    font-size: 30px;
    font-weight: 400;
  }
  
  #contact h4 {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:white;
    margin:0 0 5px;
    padding:10px;
  }
  
  #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
  }
  
  #contact textarea {
    height:100px;
    max-width:100%;
    resize:none;
  }
  
  #contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:orangered;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    margin-left: 11px;
    font-size:15px;
  }
  
  #contact button[type="submit"]:hover {
    background:burlywood;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
  }
  
  #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
  
  #contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
  }
  ::-webkit-input-placeholder {
   color:#888;
  }
  :-moz-placeholder {
   color:#888;
  }
  ::-moz-placeholder {
   color:#888;
  }
  :-ms-input-placeholder {
   color:#888;
  }